@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#mapid {
    height: 650px;
    width: 1500px;
    border: 2px solid #000000;
    border-radius: 1px;
    margin: auto;
}


